# REDIS CONFIGURATION (Infrastructure Security)
# Format: redis://[:password]@host:port/db
REDIS_URL=redis://:SentinelSecurePass2026!@localhost:6379/0

# MLFLOW TRACKING URL
MLFLOW_TRACKING_URI=http://localhost:5001
